*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

:root{
    /* main color's */

    --bg-color: #0c0c0c;
    --text-color: #fff;
    --main-color: #ae8957;

    /* Font size */

    --big-font: 6.6rem;
    --p-font: 1rem;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

header{

    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    padding: 35px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .50s ease;

}

.logo img{

    width: 100%;
    height: auto;

}

.navlist{
    display: flex;
}